@import '../../styles/_mixins';
@import '../../styles/_colors';

.wrapper {
  @include themeTransition;
  display: flex;
  height: 60px;
  max-width: var(--max_content_width);
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;

  background-color: $white;
}

.dark {
  background-color: $very-dark-desaturated-blue;
}

@media screen and (max-width: 479px) {
  .wrapper {
    height: 48px;
  }
}