@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import './colors';

:root {
  --max_content_width: 580px;
  --content_padding: 20px;
  --task_height: 65px;

  @media screen and (max-width: 479px) {
    --task_height: 50px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: $light-grayish-blue;
}

body {
  overflow-x: hidden;
}
