@mixin themeTransition {
  transition: all 0.2s ease-in-out;
}

@mixin checkButton {
  background: transparent;
  border-radius: 50%;
  margin: 0 20px;
  height: 24px;
  width: 24px;
  cursor: pointer;

  &::after {
    @include themeTransition;
    content: url('../images/icon-check.svg');
    background: $check-background;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    opacity: 0;
  }

  @media screen and (max-width: 479px) {
    height: 20px;
    width: 20px;
    margin: 0 15px 0 20px;

    &:after {
      height: 20px;
      width: 20px;
    }
  }
}

@mixin crossBtn {
  content: '';
  display: flex;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin lightShadow {
  box-shadow: 0 20px 40px $light-grayish-blue-hover;
}

@mixin darkShadow {
  box-shadow: 0 40px 60px rgba($black, 0.15);
}
