@import '../../styles/_mixins';
@import '../../styles/_colors';

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  p {
    @include themeTransition;
    font-size: 14px;
    color: $light-grayish-blue;
  }

  button {
    @include themeTransition;
    color: $light-grayish-blue;
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: $very-dark-blue;
    }
  }
}

.dark {
  p {
   color: $very-dark-grayish-blue;
  }

  button {
    color: $very-dark-grayish-blue;

    &:hover {
      color: $light-global-bg;
    }
  }
}
