@import '../../styles/_mixins';
@import '../../styles/_colors';


.wrapper {
  @include themeTransition;
  display: flex;
  max-width: var(--max_content_width);
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;

  form {
    display: inherit;
    width: 100%;
    position: relative;

    button {
      @include themeTransition;
      @include checkButton;
      border: 1px solid $very-light-grayish-blue;

      &:hover {
        border-color: transparent;
        &::after {
          opacity: 1;
        }
      }
    }

    input {
      border: none;
      background: none;
      outline: none;
      font-size: 18px;
      max-width: 410px;
      width: 100%;
      font-weight: 400;
      caret-color: $bright-blue;
      color: $darkest-text;

      &::placeholder {
        color: $dark-grayish-blue;
      }
    }

    span {
      position: absolute;
      top: -150%;
      left: 10%;
      color: $red;
      font-size: 16px;
      text-align: center;
      text-shadow: 0 0 3px $black;
    }
  }
}

.dark {
  form {
    button {
      border: 1px solid $very-dark-grayish-blue-2;
    }

    input {
      color: $light-grayish-blue-1;
    }
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    form {
      input {
        font-size: 14px;
      }

      span {
        font-size: 14px;
        top: -200%;
        left: 2%;
        line-height: 90%;
      }
    }
  }
}
