@import '../styles/_mixins';
@import '../styles/_colors';

.wrapper {
  @include themeTransition;
  display: flex;
  height: 60px;
  max-width: var(--max_content_width);
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;

  form {
    display: inherit;
    width: 100%;

    button {
      @include themeTransition;
      @include checkButton;
      border: 1px solid $very-light-grayish-blue;;

      &:hover {
        border-color: transparent;
        &::after {
          opacity: 1;
        }
      }
    }

    input {
      border: none;
      background: none;
      outline: none;
      font-size: 18px;
      max-width: 410px;
      width: 100%;
      font-weight: 400;
      caret-color: $bright-blue;
      color: $darkest-text;

      &::placeholder {
        color: $dark-grayish-blue;
      }
    }
  }
}


.dark {
  form {
    button {
      border: 1px solid $very-dark-grayish-blue-2;
    }

    input {
      color: $light-grayish-blue-1;
    }
  }
}