@import '../styles/_mixins';
@import '../styles/_colors';

.filter {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;

  li{

    button {
      @include themeTransition;
      background: none;
      border: none;
    }

    &:hover{
      button {
        color: $very-dark-blue;
      }
    }
  }
}

.dark {
  li{

    &:hover{
      button {
        color: $very-light-gray;
      }
    }
  }
}