@import '../styles/_mixins';
@import '../styles/_colors';

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-height: var(--task_height);
  border-bottom: 1px solid $very-light-grayish-blue;

  button {
    background: none;
    border: none;
    cursor: pointer;

    &:first-of-type {
      @include themeTransition;
      height: 24px;
      width: 100%;
      max-width: 24px;
      border-radius: 50%;
      background: $check-background;
      position: relative;
      border: 1px solid $very-light-grayish-blue;

      &::before {
        @include themeTransition;
        content: url('../images/icon-check.svg');
      }

      &::after {
        @include themeTransition;
        content: '';
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        border: none;
      }
    }

    &:last-of-type {
      @include themeTransition;
      width: 25px;
      height: 25px;
      position: relative;
      opacity: 0;

      &::after {
        @include crossBtn;
        background: $very-dark-grayish-blue;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::before {
        @include crossBtn;
        background: $very-dark-grayish-blue;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:hover {
        filter: brightness(2);
      }
    }
  }

  &:hover {
    cursor: pointer;

    button {
      &:last-of-type {
        opacity: 1;
      }
    }
  }

  p {
    max-width: 450px;
    width: 100%;
    font-weight: 400;
    color: $darkest-text;
    position: relative;
  }
}

.completed {
  button {
    &:first-of-type {
      &:hover {
        border: 1px solid $very-light-grayish-blue;
      }

      &::after {
        opacity: 0;
      }
    }
  }

  p {
    text-decoration: line-through;
    color: $very-light-grayish-blue;
  }
}

.dark {
  border-bottom: 1px solid $very-dark-grayish-blue;

  button {
    &:first-of-type {
      border: 1px solid $very-dark-grayish-blue-2;

      &::after {
        background: $very-dark-desaturated-blue;
      }
    }

    &:last-of-type {
      &::after {
        background: $very-dark-grayish-blue;
      }

      &::before {
        background: $very-dark-grayish-blue;
      }

      &:hover {
        filter: brightness(2);
      }
    }
  }

  p {
    color: $light-grayish-blue-1 ;
  }

  &.completed {

    button {
      &:first-of-type {
        &:hover {
          border: 1px solid $very-dark-grayish-blue-2 !important;
        }
      }
    }

    p {
      color: $very-dark-grayish-blue;
    }
  }
}

@media screen and (max-width: 479px) {
  .item {
    gap: 15px;
    padding: 15px 20px;

    button {
      &:first-of-type {
        height: 20px;
        width: 100%;
        max-width: 20px;

        &::after {
          height: 18px;
          width: 18px;
        }

      }

      &:last-of-type {
        width: 20px;
        height: 20px;
        opacity: 1;
      }
    }

    p {
      max-width: 450px;
      font-size: 15px;
    }
  }

}