@import '../styles/_mixins';
@import '../styles/_colors';

.filter {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
  transform: translateX(10%);

  li {
    &:first-child {
      button {
        color: $bright-blue;
        &:hover {
          color: $bright-blue;
        }
      }
    }

    button {
      @include themeTransition;
      background: none;
      border: none;
      font-size: 16px;
    }

    &:hover {
      button {
        color: $very-dark-blue;
      }
    }
  }
}

.dark {
  li {
    button {
      color: $very-dark-grayish-blue;
    }

    &:hover {
      button {
        color: $light-global-bg;
      }
    }
  }
}

.active {
  color: $bright-blue;

  &:hover {
    color: $bright-blue;
  }
}

@media screen and (max-width: 479px) {
  .filter {
    @include lightShadow;
    width: 100%;
    padding: var(--content_padding);
    background-color: $white;
    transform: translateY(-15px);
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
  }

  .dark {
    @include darkShadow;
    background-color: $very-dark-desaturated-blue;
  }
}
