@import '../styles/_mixins';
@import '../styles/_colors';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $very-light-gray;
}

.dark {
  background-color: $very-dark-desaturated-blue;
}