@import './styles/_colors';
@import './styles/_mixins';

.app {
  @include themeTransition;
  width: 100vw;
  min-height: 100vh;
  // height: 100vh;
  height: fit-content;
  background: url('./images/bg-desktop-light.jpg') no-repeat $very-light-gray;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark {
  background: url('./images/bg-desktop-dark.jpg') no-repeat $very-dark-blue;
  background-size: contain;
}
